.card-hover {
    text-align: center;
    background-position: center center;
    background-size: inherit;
    background-repeat: no-repeat;
    //position: relative;
    height: 5rem;
    div {
        display: none;
    }
}

.card-hover:hover {
    content: '';
    position: absolute;
    top: 11px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    div {
        color: white;
        display: block;
    }
}

.main-title {
    font-size: xx-large;
    color: skyblue !important;
}

.bg-sky {
    background-color: skyblue;
}

.text-sky {
    color: skyblue !important;
}

.text-lightcyan {
    color: lightcyan !important;
}

.text-green {
    color: #2D572C !important;
}

.text-orange {
    color: #FF8000 !important;
}

.text-gray {
    color: gray !important;
}

.text-lightgray {
    color: lightgray !important;
}

.bg-selected {
    background-color: rgb(207, 250, 223);
}

.card-pais {
    text-align: center;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    height: 5rem;
    div {
        display: none;
    }
}

.card-pais:hover {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    div {
        color: white;
        display: block;
    }
}

.card-img-sm {
    background-size: cover;
    width: 33% !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.card-img-md {
    background-size: cover;
    width: 48% !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.label-pais {
    background-color: rgba(0, 0, 0, 0.6);
    position: relative;
    bottom: 90%;
}

.col-5 {
    flex: 0 0 20%;
    max-width: 20%;
}

.country div {
    display: none;
}

.country {
    text-align: center;
    background-position: center center;
    background-size: 115%;
    background-repeat: no-repeat;
    position: relative;
    height: 8rem;
}

.country:hover {
    div {
        background-color: rgba(0, 0, 0, 0.5);
        display: block;
    }
}

.conf-stats {
    font-size: 20px;
    color: skyblue;
}

.table-head {
    background-color: skyblue;
    color: white;
}

.text-sky {
    color: skyblue;
}

.bg-sky {
    background-color: skyblue;
}

.center-align {
    display: flex;
    align-items: center;
}

.text-especial {
    text-shadow: 0 0 15px #000;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
}

.bg-lightgreen {
    background-color: #8fffbd;
}

.dark-mode {
    background-color: #343a40 !important;
    label,
    h5,
    h4,
    h3,
    b,
    td,
    p,
    small,
    a,
    ul>li {
        color: white;
    }
    .conf-dark-mode,
    .table-head {
        background-color: #1a202b !important;
    }
    .text-secondary {
        color: white !important;
    }
    hr {
        border-color: darkgray;
    }
    pre {
        color: blue;
    }
}
